[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "python -m http.server 8888"
  port = 8888
  targetPort = 8888
  publish = "."
  autoLaunch = true
